# Auto detect text files and perform LF normalization
* text=auto

assets/js/src                  export-ignore
assets/js/.babelrc             export-ignore
assets/js/package.json         export-ignore
assets/js/package-lock.json    export-ignore
assets/js/webpack.config.js    export-ignore
.gitattributes                 export-ignore